<div id='container' ng-controller='ShortenController'>
  <ul>
    <li> <a href='/#/links'>All Links</a></li>
    <li> <a href='/#/shorten'>Shorten</a></li>
  </ul>
  <button ng-click='signOut()'>Signout</button>
<!-- Your code here -->
  <form name='myForm' ng-submit='addLink()' novalidate>
    <input ng-model='link' name='input' type='url' placeholder='Enter URL here' required>
    <input type='submit' value='submit'>

    <div role="alert">
      <span class="error" ng-show="myForm.input.$error.required && myForm.input.$dirty">
        Required!</span>
      <span class="error" ng-show="myForm.input.$error.url && myForm.input.$dirty">
        Not valid url!</span>
    </div>
  </form>

</div>


